/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #f9f9f9;
  color: #333;
}

.navbar {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #0077cc;
  font-weight: normal;
}

.nav-link.active {
  font-weight: bold;
  color: #005999;
}
